{% extends 'templates/app.twig' %}

{% block content %}
    
    <div class="row">
        <div class="column column-40 column-offset-25">
            <h1>Sign In</h1>

            <form action="{{ route('auth.login') }}" method="POST">
                <input type="hidden" name="{{ csrf.key }}" value="{{ csrf.token }}" />
                <fieldset>
                    <div class="form-field">
                        <label for="email">Email:</label>
                        <input type="text" name="email" id="email" placeholder="you-email@example.com" />
                        {% if errors.email %}
                            <span class="invalid-feedback">{{ errors.email | first }}</span>
                        {% endif %}
                    </div>

                    <div class="form-field">
                        <label for="password">Password:</label>
                        <input type="password" name="password" id="password" />
                        {% if errors.password %}
                            <span class="invalid-feedback">{{ errors.password | first }}</span>
                        {% endif %}
                    </div>

                    
                    <div class="form-field">
                        <input type="checkbox" name="remember" id="remember">
                        <label class="label-inline" for="remember">Remember me</label>
                        <div class="clearfix"></div>
                    </div>

                    <button class="button-primary" type="submit">Sign In</button>
                </fieldset>
            </form>
        </div>
    </div><!-- /.row -->


{% endblock %}