<nav class="topnav" id="topnav">
    <div class="container">
        <a href="{{ route('home') }}" class="nav-brand">{{ config.get('app.name') }}</a>
        <div class="main-nav nav">
            <div class="menu-items">
                <a href="{{ route('home') }}" class="active">Home</a>
                {% if auth.check %}
                    <a href="#">Dashboard</a>
                {% endif %}
            </div>
        </div>
        <div class="nav nav-right">
            {% if auth.check %}
                <a href="#">Hello, {{ auth.user.first_name }}</a>
                <a href="#" onclick="event.preventDefault(); document.getElementById('logout-form').submit();">Log Out</a>
            {% else %}
                <a href="{{ route('auth.login') }}">Sign In</a>
                <a href="#">Sign Up</a>
            {% endif %}
        </div>
    </div>
</nav><!-- /nav -->

<form action="{{ route('auth.logout') }}" method="POST" id="logout-form" style="display:none;">
    <input type="hidden" name="{{ csrf.key }}" value="{{ csrf.token }}">
</form>
